.About{
    display: flex;
    align-items: center;
    justify-content: center;
}

.About_left{
    display: flex;
    flex-direction: column;
}

.About_left_main{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

.About_left_sub{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.About_left_sub_2{
    font-size: 20px;
    padding:10px;
}

.About_left > button {
    margin-left: 100px;
    margin-right: 100px;
    align-self: center;
}

@media(max-width: 950px){
    .About{
        flex-direction: column-reverse;
    }
}

