.Talk {
  background-color: rgba(176, 196, 222, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Talk > h1{
    padding: 20px;
}

.Talk_card{
    display: flex;
}

.card {
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  /* height: 400px; */
  margin: 1rem;
  position: relative;
  /* width: 290px; */
  overflow: hidden;
}

.card .top {
  display: inline-flex;
  width: 100%;
  /* height: 320px; */
  overflow: hidden;
  justify-content: center;
}

.card .top img {
  height: 420px;
  width: 360px;
}

.card .bottom {
  height: 80px;
  width: 100%;
  align-items: center;
}

.card .bottom p {
    align-self: center;
  text-align: center;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #444;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.5, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

@media(max-width:750px){
    .Talk_card{
        flex-direction: column;
    }
}
